.search-form-container {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  border-radius: 10px;
}

.search-form {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 10px 2px #e0e0e0;
  border-radius: 1rem;
  height: 1.5rem;
  width: 90%;
  max-width: 500px;
}

.search-form * {
  font-size: 1rem;
}

.search-form input {
  border: none;
  flex-grow: 9;
  min-width: 0;
}

.search-form input:focus {
  outline: none;
}

.search-form button {
  border: none;
  background: none;
  flex-grow: 1;
}

.search-form button i {
  transition: 0.8s cubic-bezier(0.1, 0.6, 0.3, 1);
}

.search-form button:hover i {
  font-size: 1.2rem;
  color: #4e9f3d;
  transform: rotate(360deg);
}
